@model PizzaShop.Repository.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Reset Password Page";
}
@if (TempData["ErrorMessage"] != null)
{
    <script>toastr.error('@TempData["ErrorMessage"]');</script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script>toastr.success('@TempData["SuccessMessage"]');</script>
}
@if (TempData["WarningMessage"] != null)
{
    <script>toastr.warning('@TempData["WarningMessage"]');</script>
}
@if (TempData["InfoMessage"] != null)
{
    <script>toastr.info('@TempData["InfoMessage"]');</script>
}
<div class="p-2 p-md-5 d-flex align-items-center justify-content-center col-12 col-md-6 vh-100">
    <div>
        <div class="d-flex justify-content-center align-items-center mb-5 w-100">
            <div class="d-flex gap-2 align-items-center justify-content-center">
                <img src="~/images/logos/pizzashop_logo.png" alt="Pizzashop Logo" width="15%" height="15%">
                <h1 class="font-weight-bold custom-body-text-color">PIZZASHOP</h1>
            </div>
        </div>
        <h3 class="mb-4">Reset Your Password</h3>
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="text-danger">@ViewBag.ErrorMessage</div>
        }
        <form method="post" asp-action="ResetPassword" asp-controller="Auth">
            <input type="hidden" asp-for="Token" />
            <div class="mb-4">
                <div class="d-flex align-items-center">
                    <input type="password" class="form-control" asp-for="NewPassword" id="custom-password-input1"
                        placeholder="New Password**" required>
                    <img src="~/images/icons/hidden.png"
                        style="display: inline; margin-left: -23px; vertical-align: middle" id="toggle_button_eye1"
                        onclick="toggleReset1()">
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <div class="d-flex align-items-center">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="custom-password-input2"
                        placeholder="Confirm Password**" required>
                    <img src="~/images/icons/hidden.png"
                        style="display: inline; margin-left: -23px; vertical-align: middle" id="toggle_button_eye2"
                        onclick="toggleReset2()">
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button class="btn btn-primary w-100 mb-2" type="submit">Submit</button>
            <div class="d-flex justify-content-center">
                <a asp-controller="Auth" asp-action="Login" class="text-decoration-none coustom-link-color">Back to
                    login</a>
            </div>
        </form>
    </div>
</div>
<script>
    function toggleReset1() {
        let input_toggle1 = document.getElementById("toggle_button_eye1");
        let password_input1 = document.getElementById("custom-password-input1");

        password_input1.type = password_input1.type === 'password' ? 'text' : 'password';
        input_toggle1.src = password_input1.type === 'password' ? "/images/icons/hidden.png" : "/images/icons/eye.png";
    }

    function toggleReset2() {
        let input_toggle2 = document.getElementById("toggle_button_eye2");
        let password_input2 = document.getElementById("custom-password-input2");

        password_input2.type = password_input2.type === 'password' ? 'text' : 'password';
        input_toggle2.src = password_input2.type === 'password' ? "/images/icons/hidden.png" : "/images/icons/eye.png";
    }
</script>
