@model PizzaShop.Repository.ViewModels.ChangePasswordViewModel;
@{
    ViewData["Title"] = "Change Password";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            @if (TempData["ErrorMessage"] != null)
                {
                    <text>toastr.error('@TempData["ErrorMessage"]');</text>
            }
                @if (TempData["SuccessMessage"] != null)
                {
                    <text>toastr.success('@TempData["SuccessMessage"]');</text>
            }
                @if (TempData["WarningMessage"] != null)
                {
                    <text>toastr.warning('@TempData["WarningMessage"]');</text>
            }
                @if (TempData["InfoMessage"] != null)
                {
                    <text>toastr.info('@TempData["InfoMessage"]');</text>
            }
            });
    </script>
}
<div class="d-flex flex-column w-100 p-4">
    <div class="position-relative w-100 mb-3">
        <div class="position-absolute end-0 top-0 ps-6 ms-6">
            <a class="btn btn-outline-primary" href="/Dashboard/Dashboard">
                Back
            </a>
        </div>
        <h1 class="custom-body-text-color pe-6 me-6">Change Password</h1>
    </div>

    <div class="container">
        <div class="row justify-content-start">
            <div class="col-12 col-md-6">
                <form asp-controller="MyProfile" asp-action="MyProfileChangePassword" method="post"
                    class="bg-white p-4 rounded shadow-sm">

                    <div class="d-flex flex-column gap-1">
                        <input type="hidden" asp-for="Email" class="form-control" readonly />
                        <p style="color: #8490a1;">Enter a new Password to Update account credentials</p>

                        <div class="gap-3 d-flex flex-column">
                            <div class="form-floating position-relative">
                                <input type="password" asp-for="CurrentPassword"
                                    class="form-control password-field pe-5" id="CurrentPassword" placeholder="Password"
                                    value="@Model.CurrentPassword">
                                <img src="/images/icons/hidden.png" alt="Toggle Password" onclick="togglePassword(this)"
                                    class="position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);
                                 width: 20px; height: 20px; cursor: pointer;">
                                <label for="CurrentPassword">Current Password*</label>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="form-floating position-relative">
                                <input type="password" asp-for="NewPassword" class="form-control password-field pe-5"
                                    id="NewPassword" placeholder="Password" value="@Model.NewPassword">
                                <img src="/images/icons/hidden.png" alt="Toggle Password" onclick="togglePassword(this)"
                                    class="position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);
                                 width: 20px; height: 20px; cursor: pointer;">
                                <label for="NewPassword">New Password*</label>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="form-floating position-relative">
                                <input type="password" asp-for="ConfirmPassword"
                                    class="form-control password-field pe-5" id="ConfirmPassword" placeholder="Password"
                                    value="@Model.ConfirmPassword">
                                <img src="/images/icons/hidden.png" alt="Toggle Password" onclick="togglePassword(this)"
                                    class="position-absolute" style="right: 10px; top: 50%; transform: translateY(-50%);
                                 width: 20px; height: 20px; cursor: pointer;">
                                <label for="ConfirmPassword">Confirm Password*</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="d-flex flex-column flex-sm-row gap-2">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="button" class="btn btn-outline-primary" id="cancelButton">Cancel</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePassword(eyeIcon) {
        let passwordInput = eyeIcon.previousElementSibling;

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.src = "/images/icons/eye.png";
        } else {
            passwordInput.type = "password";
            eyeIcon.src = "/images/icons/hidden.png";
        }
    }
    $(document).ready(function () {
        $('#cancelButton').on('click', function () {
            $('.password-field').val('');
            $('span.text-danger').text('');
        });
    });
</script>
